.section-1 {
  width: 100%;
  background-color: #030b15;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;

  .orta {
    width: 75%;
    padding-top: 130px;
    display: flex;
    justify-content: center;

    .sol {
      width: 50%;
      margin-left: 50px;
      position: relative;

      .planet {
        position: absolute;
        left: -50px;
        top: 40px;
      }
    }

    .sag {
      width: 45%;
      display: flex;
      flex-direction: column;

      .who {
        display: flex;
        align-items: center;
        margin-top: 45px;
      }
      

      .noqte {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 5px;
        background-color: #00c4f4;
      }

      .words {
        color: white;
        margin-top: 35px;
        width: -7px;
        font-size: 40px;

        .stisco {
          color: #00c4f4;
        }
      }

      .offers {
        margin-top: 27px;
        font-size: 16px;
        line-height: 1.75;
        color: #a4b4c3;
        width: 78%;
      }

      .tokens {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 68px;
        margin-left: -6px;
        font-family: sans-serif;

        a {
            width: 225px;
            height: 62px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border: 2px solid;
            border-radius: 61px;
            border-color: #00c4f4;
        }
      }
    }
  }
}
