.section-2 {
  width: 100%;
  background-color: #030b15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  font-family: sans-serif;
  position: relative;

  // &::after{
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;

  //   width: 200px;
  //   height: 200px;
  //   background-color: red;
  // }


  .partner {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .our {
      display: flex;
      align-items: center;

      .noqte {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #00c4f4;
        margin: 0 5px;
      }
      div {
        font-size: 15px;
        color: #00c4f4;
      }

      
    }

    .xanalar {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      padding-top: 30px;

      ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
          border: 1px solid #ffffff0f;
          height: 100px;
        }
      }
    }
  }
}
